*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  color: gray;
}

.super{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}
    .background_top{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 15%;
      background-color: mediumseagreen;
    }

    .interface{
      flex-basis: 95%;
      flex-shrink: 1;
      width: 80%;
      min-width: 650px;
      z-index: 1;
      margin-top: 1%;
      display: flex;
      align-items: stretch;
      overflow: auto;   /* per qualche motivo se non lo imposto non funziona lo scroll nel figlio .contact_list */
    }
                            @media screen and (max-height:300px){
                              .interface{
                                margin-top: 0;
                              }
                            }
        .contacts{
          flex-basis: 40%;
          min-width: 300px;
          display: flex;
          flex-direction: column;
          border-right: 1px solid #D6D6D6;
        }

            .profile{
              flex-basis: 70px;
              background-color: #EAEAEA;
              display: flex;
              align-items: center;
              padding: 0 10px;
            }
            .profile > .pic{
              flex: 0 0 80px;
            }
              .profile > .pic > img{
                  width: 80%;
                  border-radius: 100%;
                }

            .profile > div:nth-child(2){
              flex: 0 0 80px;
              font-size: 20px;
              margin-left: auto;
            }
            .profile > div:nth-child(2) > i{
              padding-left: 5px;
            }
            .profile span, .profile i {
              color: gray;
            }


            .set_notifications{
              flex-basis: 80px;
              padding: 10px;
              background-color: turquoise;
              display: flex;
              align-items: center;
            }

            .set_notifications h3{
              font-weight: 400;
            }


                .set_notifications > .pic{
                  flex: 0 0 70px;
                  height: 50px;
                  padding-top: 12px;
                  text-align: center;
                  font-size: 25px;
                  color: turquoise;
                  border-radius: 100%;
                  background-color: white;
                }

                .set_notifications > div:nth-child(2){
                  flex: 0 1 260px;
                  padding-left: 5px;
                  font-size: 15px;
                }

            .search{
              position: relative;
              flex-basis: 45px;
              background-color: #FAFAFA;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
                .search > label{
                  position: absolute;
                  top: 50%;
                  left: 20px;
                  font-size: 20px;
                  color: #B6B9BB;
                  transform: translateY(-50%);
                }
                .search > input{
                  flex-basis: 75%;
                  width: 95%;
                  padding: 10px 5px 10px 50px;
                  border: 1px solid #F5F5F5;
                  color: #B6B9BB;
                }

            .contact_list{
              flex-basis: calc(100% - 195px);
              background-color: ivory;
              overflow-y: auto;
            }
                .contact{
                  position: relative;
                  height: 80px;
                  width: 100%;
                  padding: 9px 2px 5px 9px;
                  border-bottom: 1px solid #F5F5F5;
                  display: flex;
                  align-items: center;
                }
                    .contact > .pic{
                      flex: 0 0 80px;
                    }
                      .contact > .pic > img{
                          width: 80%;
                          border-radius: 100%;
                        }
                    .contact > div:nth-child(2){
                      flex: 0 0 180px;
                      font-size: 15px;
                    }
                    .contact > span{
                      position: absolute;
                      top: 0;
                      right: 0;
                      padding: 20px 10px 0 0;
                      font-size: 15px;
                    }

                    .contact span{
                      color: gray;
                    }

                .active{
                  background-color: #E9EBEB;
                }

        .chatbox{
          flex-basis: 70%;
          display: flex;
          flex-direction: column;
        }
            .now_chatting{
              flex-basis: 70px;
              background-color: #EAEAEA;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding: 0 10px;
            }
            .now_chatting > .pic{
              flex: 0 0 80px;
            }
              .now_chatting > .pic > img{
                  width: 80%;
                  border-radius: 100%;
                }
            .now_chatting > div:nth-child(2){
              flex: 0 0 180px;
              font-size: 15px;
            }
            .now_chatting > div:nth-child(3){
              flex: 0 0 80px;
              font-size: 20px;
              margin-left: auto;
            }
            .now_chatting > div:nth-child(3) > i{
              padding-left: 5px;
            }
            .now_chatting span, .now_chatting i {
              color: gray;
            }

            .messages{
              flex-basis: calc(100% - 140px);
              background: url("../img/chatbackground.png");
              overflow-y: auto;
              display: flex;
              flex-direction: column;
              padding: 30px;
            }
                .message{
                  min-width: 10px;
                  min-height: 10px;
                  padding: 20px;
                  border-radius: 10px;
                  margin-top: 8px;
                }
                .sent{
                  background-color: lightgreen;
                  align-self: flex-end;
                }
                .received{
                  background-color: white;
                  align-self: flex-start;
                }

            .chat_bar{
              flex-basis: 70px;
              background-color: #F3EEEA;
              display: flex;
              justify-content: space-around;
              align-items: center;
            }
              .chat_bar > div{
                flex: 1;
                font-size: 30px;
                text-align: center;
                color: #6B7376;
              }
              .chat_bar > input{
                flex: 7;
                height: 50px;
                padding-left: 8px;
                color: #6B7376;
              }
