*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed',
  sans-serif;
}

a{
  color: #777777ba;
}

 button:focus {
   outline: 0;
 }

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1c1d1c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:#40e096;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #40e09563;
}

.super{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}
    .background_top{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 15%;
      background-color: #206646;
    }

    .interface{
      flex-basis: 90%;
      flex-shrink: 1;
      width: 70%;
      border-radius: 5px;
      min-width: 320px;
      z-index: 1;
      margin-top: 15px;
      display: flex;
      align-items: stretch;
      overflow: auto; 
    }
                            @media screen and (max-height:300px){
                              .interface{
                                margin-top: 0;
                              }
                            }
        .contacts{
          width: 40%;
          display: flex;
          flex-direction: column;
          border-right: 1px solid #D6D6D6;
        }

            .profile{
              flex-basis: 70px;
              background-color: #EAEAEA;
              display: flex;
              align-items: center;
              padding: 0 10px;
            }
            .profile > .pic{
              flex: 0 0 80px;
            }
              .profile > .pic > img{
                  width: 65%;
                  border-radius: 100%;
                }

            .profile > div:nth-child(2){
              flex: 0 0 80px;
              font-size: 18px;
              margin-left: auto;
              display: flex;
              justify-content: center;
            }

             .profile > div:nth-child(2) * {
               padding-right: 3px;
             }

            .profile > div:nth-child(2) > i{
              padding-left: 5px;
            }
            .profile span, .profile i {
              color: gray;
            }


            .set_notifications{
              flex-basis: 80px;
              padding: 10px;
              background-color: #40e096;
              display: flex;
              align-items: center;
            }

            .set_notifications h3{
              font-weight: 400;
            }


                .set_notifications > .pic{
                  flex: 0 0 50px;
                  height: 50px;
                  padding-top: 12px;
                  text-align: center;
                  font-size: 25px;
                  color: #40e096;
                  border-radius: 100%;
                  background-color: white;
                }

                .set_notifications > div:nth-child(2){
                  flex: 0 1 260px;
                  padding-left: 5px;
                  font-size: 15px;
                }

            .search{
              position: relative;
              flex-basis: 45px;
              background-color: #FAFAFA;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
                .search > label{
                  position: absolute;
                  top: 50%;
                  left: 20px;
                  font-size: 20px;
                  color: #B6B9BB;
                  transform: translateY(-50%);
                }
                .search > input{
                  flex-basis: 75%;
                  width: 95%;
                  padding: 10px 5px 10px 50px;
                  border: 1px solid #F5F5F5;
                  color: #B6B9BB;
                }

            .contact_list{
              flex-basis: calc(100% - 195px);
              background-color: white;
              overflow-y: auto;
            }
                .contact{
                  position: relative;
                  cursor: pointer;
                  height: 80px;
                  width: 100%;
                  padding: 9px 2px 5px 9px;
                  border-bottom: 1px solid #F5F5F5;
                  display: flex;
                  align-items: center;
                }
                    .contact > .pic{
                      flex: 0 0 80px;
                    }
                      .contact > .pic > img{
                          width: 65%;
                          border-radius: 100%;
                        }
                    .contact > div:nth-child(2){
                      flex: 0 0 180px;
                      font-size: 15px;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                    }
                    .contact > span{
                      position: absolute;
                      top: 0;
                      right: 0;
                      padding: 20px 10px 0 0;
                      font-size: 15px;
                    }

                    .contact span{
                      color: gray;
                    }

                .contact.active{
                  background-color: #E9EBEB;
                }

        .chatbox{
          width: 60%;
          display: flex;
          flex-direction: column;
        }
            .now_chatting{
              flex-basis: 70px;
              background-color: #EAEAEA;
              display: none;
              justify-content: flex-start;
              align-items: center;
              padding: 0 10px;
              background-color: #40e096;
            }

            /* .now_chatting * {
              color: white !important;
            } */

            .now_chatting.active{
              display: flex;
            }

            .now_chatting > .pic{
              flex: 0 0 80px;
              display: flex;
              align-items: center;
            }
              .now_chatting > .pic > img{
                  margin-left: 5px;
                  width: 65%;
                  border-radius: 100%;
                }

                .now_chatting .back {
                  display: none;
                  font-size: 20px;
                  color: #206646;
                  background-color: #40e096;
                }

                 .now_chatting .back .fas:hover {
                   color: #206647a0;
                 }

            .now_chatting > div:nth-child(2){
              flex: 0 0 180px;
              font-size: 15px;
            }

            .now_chatting > div:nth-child(3){
              flex: 0 0 80px;
              font-size: 18px;
              margin-left: auto;
              display: flex;
              justify-content: center;
            }
            .now_chatting > div:nth-child(3) > i{
              padding-left: 5px;
            }
            .now_chatting span, .now_chatting i {
              color: #777777ba;
            }

            .now_chatting > div:nth-child(3) * {
             padding-right: 3px;
            }

            .messages{
              display: none;
              flex-basis: calc(100% - 120px);
              background-image: url("../img/chatbackground.png");
              overflow-y: auto;
              flex-direction: column;
              padding: 30px;
            }
            .messages.active{
              display: flex;
            }
                .message{
                  position: relative;
                  min-width: 65px;
                  max-width: 75%;
                  flex-basis: 40px;
                  padding: 22px;
                  border-radius: 10px;
                  margin-top: 8px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-self: center;
                }

                .message p {
                  word-break: break-all;
                }
                    .message > span{
                      position: absolute;
                      bottom: 0;
                      right: 0;
                      font-size: 10px;
                      padding: 0 10px 5px 0;
                      color: #2e2a2a;
                    }
                    .message > #erase-msg-btn{
                      display: none;
                      cursor: pointer;
                      position: absolute;
                      bottom: 9px;
                      right: 34px;
                      width: 6px;
                      height: 6px;
                      border-radius: 100%;
                      background-color: red;
                    }
                    .message > #erase-msg-box {
                      display: none;
                      cursor: pointer;
                      position: absolute;
                      bottom: 0;
                      right: 0;
                      transform: translate(25%, 25%);
                      width: 41px;
                      height: 25px;
                      border: 1px solid lightgray;
                      color: #2e2a2a;
                      border-radius: 9px;
                      background-color: white;
                      opacity: 0.9;
                      z-index: 3;
                      font-size: 9px;
                      padding: 6px;
                    }

                .sent{
                  background-color: lightgreen;
                  align-self: flex-end;
                }
                .received{
                  background-color: white;
                  align-self: flex-start;
                }

            .chat_bar{
              flex-basis: 50px;
              background-color: #F3EEEA;
              display: flex;
              justify-content: space-around;
              align-items: center;
            }
              .chat_bar > div{
                flex: 1;
                text-align: center;
              }

              .chat-buttons {
                 font-size: 24px;
                 color: #2b2b2b9e;
              }

                  #enter{
                    display: none;
                    cursor: pointer;
                  }

                  #enter:hover > .fab {
                    color: #206646;
                  }

              .chat_bar>input[type="text"] {
                flex: 7;
                height: 30px;
                padding: 4px 7px;
                color: #6B7376;
                border: 1px solid #8080806b;
                border-radius: 10px;
              }

@media screen and (min-width: 800px) and (max-width: 1000px) {

  .interface {
    flex-basis: 95%;
    width: 85%;
  }

}

@media screen and (min-width: 640px) and (max-width: 799px) {

  .interface {
    flex-basis: 95%;
    width: 95%;
  }

  .profile > .pic, 
  .contact > .pic, 
  .now_chatting > .pic {
    flex: 0 0 45px;
  }

  .profile>.pic img,
  .contact>.pic img,
  .now_chatting>.pic img {
    width: 90%;
  }

  .now_chatting>div:nth-child(2) {
    margin-left: 15px;
  }

}

@media screen and (max-width: 639px) {

  .interface {
    flex-basis: 95%;
    width: 95%;
  }
  
  .profile>.pic img,
  .contact>.pic img,
  .now_chatting>.pic img {
    width: 55%;
  }

  .contact.active {
    background-color: white;
  }

  .contact:hover {
    background-color: #E9EBEB;
  }

  .now_chatting>div:nth-child(2) {
    flex: 0 0 150px;
    font-size: 13px;
  }

  .now_chatting>div:nth-child(3) {
    font-size: 17px;
  }

   .now_chatting  .back {
     display: inline-block;
   }

   .message {
     font-size: 14px;
   }

   .message>#erase-msg-btn {
     width: 8px;
     height: 8px;
     bottom: 8px;
   }

  .chatbox,
  .contacts {
    display: none;
  }

  .xs-active-tab {
    display: flex;
    flex-basis: 100%;
  }

}


